run = "npm start"
modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Quote System"

[[workflows.workflow]]
name = "Start Quote System"
author = 46195263
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80
