[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Quote System"

[[workflows.workflow]]
name = "Start Quote System"
author = 46195263
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
